<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="fluid-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navigation-logo">
            <a href="">
              <img width="35.5px" src="./assets/images/found_hound_logo.png" alt="Found Hound Logo" />
            </a>
            <div id="user-login-icon">
              <span width="37.5" class="glyphicon glyphicon-user"></span>
            </div>
          </div>

        </div>

        <div class="collapse navbar-collapse" id="side-navigation">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Dog Search</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
        </div>

      </div>
    </nav>